<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>
<body onload="fillTables()">
    <table id="studentSummaryTable" class="table table-borderless table-striped table-earning">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Address</th>
                <th>PhoneNo</th>
                <th>DateofBirth</th>
                <th>GuardianName</th>
                <th>NationalID</th>
                <th>TotalPoints</th>
                <th>ApplicationStatus</th>
            </tr>
        </thead>
        <tbody id="testBody"></tbody>
    </table>
    <div class="DownloadCSV">
        <button onclick=" DownloadTableAsCSV()" id="DownloadCSV">DOWNLOAD TABLE</button>
    </div>
    <script>  
        function fillTables() {
            $.ajax({
                type: "GET",
                url: "/UniversityAdmin/UniversityAdminGetrecords",
                dataType: "json",
                success:
                function loadTableData(results) {
                    const table = document.getElementById("testBody");
                    results.students.forEach(item => {
                        let row = table.insertRow();
                        let FirstName = row.insertCell(0);
                        FirstName.innerHTML = item.FirstName;
                        let LastName = row.insertCell(1);
                        LastName.innerHTML = item.LastName;
                        let Address = row.insertCell(2);
                        Address.innerHTML = item.Address;
                        let PhoneNo = row.insertCell(3);
                        PhoneNo.innerHTML = item.PhoneNo;
                        let DateofBirth = row.insertCell(4);
                        var dob = item.DateofBirth;
                        DateofBirth.innerHTML = new Date(parseInt(dob.replace(/[^0-9 +]/g, ''))).toLocaleDateString();
                        let GuardianName = row.insertCell(5);
                        GuardianName.innerHTML = item.GuardianName;
                        let NationalID = row.insertCell(6);
                        NationalID.innerHTML = item.NationalID;
                        let TotalPoints = row.insertCell(7);
                        TotalPoints.innerHTML = item.TotalPoints;
                        let ApplicationStatus = row.insertCell(8);
                        ApplicationStatus.innerHTML = item.ApplicationStatus;
                    });
                }
            });
        }
        function DownloadTableAsCSV(separator = ',') {
            var table_id = "studentSummaryTable";
            var rows = document.querySelectorAll('table#' + table_id + ' tr');
            var csv = [];
            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll('td, th');
                for (var j = 0; j < cols.length; j++) {
                    var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
                    data = data.replace(/"/g, '""');
                    row.push('"' + data + '"');
                }
                csv.push(row.join(separator));
            }
            var csv_string = csv.join('\n');
            // Download it
            var filename = 'export_' + table_id + '_' + new Date().toLocaleDateString() + '.csv';
            var link = document.createElement('a');
            link.style.display = 'none';
            link.setAttribute('target', '_blank');
            link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
            link.setAttribute('download', filename);
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    </script>
</body>

</html>

    
