<html>
<head>
</head>
<body>
    <div class="container">
        <div class="container-login">
            <div class="frontbox">
                <div class="register">
                    <h2>REGISTER</h2>
                    <div class="inputbox">
                        <div class="personal-details">
                            <h3>PERSONAL DETAILS</h3>
                            <input type="text" name="First-Name" placeholder="First Name">
                            <input type="text" name="Last-Name" placeholder="Last Name">
                            <input type="date" id="Date-of-Birth">
                            <input type="text" name="NationalID" placeholder="NID">
                            <input type="text" name="Guardian-name" placeholder="Guardian Name">
                        </div>
                        <div class="contact">
                            <h3>CONTACT DETAILS</h3>
                            <input type="text" name="phone" placeholder="Phone No">
                            <input type="text" name="address" placeholder="address">
                        </div>
                        <div class="hsc">

                        </div>
                        <div>
                        </div>
                    </div>
                    <button>REGISTER</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>